<mat-tab-group [(selectedIndex)]="selectedTab">
  <mat-tab label="Funcionários">

    <div style="margin: 10px" class="row">
      <!-- Registrar Novos Funcionários -->
      <div class="col-md-11">

        <!-- Tabela Funcionários -->
        <mat-table #table [dataSource]="dataSource">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
          </ng-container>

          <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef> Nome</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nome}}</mat-cell>
          </ng-container>

          <!-- Idade Column -->
          <ng-container matColumnDef="idade">
            <mat-header-cell *matHeaderCellDef> Idade</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idade}}</mat-cell>
          </ng-container>

          <!-- Cargo Column -->
          <ng-container matColumnDef="cargo">
            <mat-header-cell *matHeaderCellDef> Cargo</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cargo}}</mat-cell>
          </ng-container>

          <!-- Editar Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button *ngIf="ConfigMode" mat-icon-button color="warn" aria-label="Deletar funcionarios"
                      (click)="DeletarFuncionario(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button *ngIf="ConfigMode" mat-icon-button aria-label="Editar funcionarios"
                      (click)="OpenEditionMode(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <!-- Paginação -->
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>

      </div>
      <div class="col-md-1">
        <button mat-mini-fab aria-label="Editar funcionarios" (click)="ToggleConfigMode()"
                [color]="ConfigMode?'primary':''">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Administrar">
    <!-- Registrar Novos Funcionários -->
    <mat-card style="margin: 10px">
      <mat-card-header style="margin-bottom: 20px">
        Registrar Funcionário
      </mat-card-header>
      <mat-card-content>
        <form class="register-form">
          <!-- ID -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Número de Identidade (id)" required [formControl]="field_id">
            <mat-error *ngIf="field_id.invalid"></mat-error>
          </mat-form-field>

          <!-- Nome -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" [formControl]="field_nome">
          </mat-form-field>

          <!-- Idade -->
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Idade" [formControl]="field_idade">
            <mat-error *ngIf="field_idade.invalid"></mat-error>
          </mat-form-field>

          <!-- Cargo -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cargo" [formControl]="field_cargo">
          </mat-form-field>

        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="RegistrarFuncionario()" [disabled]="field_id.invalid"> Adicionar</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>

